@{
    ViewData["Title"] = "Contacto";
}
<div id="contenedor-contacto">
<div id="contacto">
   
    <div class="item-contacto"><a href="https://www.linkedin.com/in/jennifer-guglielmino-b0a61b182/" target="_blank"><i class="fab fa-linkedin"></i></a></br><span>Linkedin</span></div>
    <div class="item-contacto"><a href="https://github.com/JenniGuglielmino" target="_blank"><i class="fab fa-github"></i></a></br><span>GitHub</span></div>
    <div class="item-contacto"><a href="mailto:jenni.guglielmino@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></br><span>Correo</span></div>
    <div class="item-contacto"><a href="~/img/Jennifer_Guglielmino_CV.pdf" download="Jennifer_Guglielmino_CV" target="_blank"><i class="fas fa-download"></i></a></br><span>Mi cv</span></div>
        
    
</div>
<div class="text-center">
    <div class="burbujas">
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
    </div>
    <div class="parallax-container">
        <ul id="scene">
            <li class="layer" data-depth="3"><img src="~/img/Mountain.png" /></li>
            <li class="layer" data-depth="2"><img src="~/img/agua.png" /></li>
            <li class="layer" data-depth="1"><img src="~/img/barco.png" /></li>
        </ul>
    </div>
</div>
</div>
