@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="burbujas">
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
    </div>
    <div class="parallax-container">
        <ul id="scene">
            <li class="layer" data-depth="3" ><img src="~/img/Mountain.png"/></li>
            <li class="layer" data-depth="2" ><img src="~/img/agua.png"/></li>
            <li class="layer" data-depth="1" ><img src="~/img/barco.png"/></li>
        </ul>
    </div>
    <div class="text-slider">
        <div class="slider-text" id="slider-text"><h1>Jennifer </br> Guglielmino</h1></div>
        <div class="slider-text" id="slider-text2"><h3>Desarrolladora Jr. </br>.NET - Unity dev </br><p> Estudiante en la UTNfra </p><br><a href="https://github.com/JenniGuglielmino" target="_blank"><img src="~/img/logo-gitHub.png" alt="Github" width="100" height="100"></a></h3></div>
    </div>
</div>
