@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <section id="slider">
        <div id="content-images-slider">
            <div class="burbujas">
                <div class="burbuja"></div>
                <div class="burbuja"></div>
                <div class="burbuja"></div>
                <div class="burbuja"></div>
                <div class="burbuja"></div>
                <div class="burbuja"></div>
            </div>
            <div id="img1" class="rellax" data-rellax-speed="-6"></div>
            <div id="img2" class="rellax" data-rellax-speed="-6"></div>
            <div id="img3" class="rellax" data-rellax-speed="-8"></div>
            <div class="text-slider rellax" data-rellax-speed="-6">
                <div class="slider-text" id="slider-text"><h1>Jennifer </br> Guglielmino</h1></div>
                <div class="slider-text" id="slider-text2"><h3>Desarrolladora Jr. </br>.NET - Unity dev </br><p> Estudiante en la UTNfra </p><br><a href="https://github.com/JenniGuglielmino" target="_blank"><img src="~/img/logo-gitHub.png" alt="Github" width="100" height="100"></a></h3></div>
            </div>         
        </div>
    </section>
</div>
